<!-- <app-header></app-header>
<app-home></app-home>
<app-footer></app-footer>


<app-interpolation></app-interpolation>
<app-proberty-binding></app-proberty-binding>
<app-class-binding></app-class-binding>
<app-style-binding></app-style-binding>
<app-event-binding></app-event-binding>
<app-template-refrence-variable></app-template-refrence-variable>
<app-two-way-binding></app-two-way-binding>
<app-ng-if-structure-directive></app-ng-if-structure-directive>
<app-ngswitch-structure-directive></app-ngswitch-structure-directive>
<app-ngfor-structure-directive></app-ngfor-structure-directive>
<app-pipes></app-pipes>
<app-parent></app-parent>
<app-employee-list></app-employee-list>
<nav>
  <a routerLink="/"> Main Menu </a> &nbsp;
  <a routerLink="/empolyees"> Go to Employees </a> &nbsp;
  <a routerLink="/Departments"> Go to Departments </a>
</nav> -->




<!-- <app-departments></app-departments> -->


<!-- //should be define to navigate to the url
  and should be replaced between header and footer -->
<!-- <router-outlet></router-outlet> -->

  <!-- Angular Forms Starts From Here -->
  <!-- 1- Template Driven Forms -->

  <!-- <app-tdf></app-tdf> -->

    <!-- 2- Reactive Forms -->
<app-reactive-forms></app-reactive-forms>





