<div class="container">

  <!-- novalidate attribute in form will prevent cashing validation from browsers -->
  <form #formdata="ngForm"novalidate (ngSubmit)="submitData(formdata.form)">

    {{formdata.value|json}}
  <br/>
  {{usermodel|json}}
  <div class="form-group">

    <label > Name:</label>
    <input type="text" [class.is-invalid]="name.invalid&&name.touched"  required name="txtname" #name="ngModel" [(ngModel)]="usermodel.text"  class="form-control"/>
 <small [class.d-none]="name.valid || name.touched" ></small>
  </div>
  <div class="form-group">

    <label > Email:</label>
    <input type="email"  name="email" [(ngModel)]="usermodel.email" #mail="ngModel"  class="form-control"/>
  </div>
  <div class="form-group">

    <label > Phone:</label>
    <input type="tel" required  name="phone" pattern="\d{11}$" [class.is-invalid]="Tele.invalid&&Tele.touched" #Tele="ngModel"  [(ngModel)]="usermodel.phone" class="form-control"/>
  <div *ngIf="Tele.errors&&Tele.touched">

<!-- Before angular 11 you should access errors attributes with Dot. -->
    <!-- <small *ngIf="Tele.errors.required"> you must enter phone </small>
    <small *ngIf="Tele.errors.pattern"> you must enter 11 number</small> -->

    <!-- after angular 11 -->
    <small *ngIf="Tele.errors['required']"> you must enter phone </small>
    <small *ngIf="Tele.errors['pattern']"> you must enter 11 number</small>
  </div>
  </div>
  <div class="form-group mt-3">
    <label for="topicSelect">Select Topic</label>
  <select id="topicSelect"  name="selectname" #selects="ngModel"   [(ngModel)]="usermodel.topic" class="form-select ">
  <option selected>I'm Interested In</option>
  <option *ngFor="let topic of topics">{{topic}}</option>
  </select>
  </div>
  <div class=" mb-3">
    <!-- should be the same value in name attribute -->
    <label>select Time</label>
    <div class="form-check">
      <input class="form-check-input " #radios="ngModel"  [(ngModel)]="usermodel.radiocheck" type="radio"  name="flexRadioDefault" value="Morning" id="flexRadioDefault1">
      <label class="form-check-label" for="flexRadioDefault1">
        Morning
      </label>
     </div>
     <div class=" form-check">
      <input class="form-check-input"  #radios="ngModel"  [(ngModel)]="usermodel.radiocheck" type="radio" name="flexRadioDefault" value="Evenning" id="Evening" checked >
      <label class="form-check-label" for="Evening">
        Evening
      </label>
     </div>
     <div class=" form-check">
      <input class="form-check-input" #checkedval="ngModel" [(ngModel)]="usermodel.checkvalue" type="checkbox" name="checks" value="" id="checkid" checked >
      <label class="form-check-label" for="checkid">
        Send Me New Offers
      </label>
     </div>

  </div>
  <input type="submit" value="submit" class="btn btn-success mt-3"/>
  </form>

  </div>
